include COPYING
include README
include setup.cfg
include setup.py
include swipy.pyx
include swipy.pxd
include swipy/*.py
include swipy/store/*.py
recursive-include swipy/store/henry *
recursive-include swipy/store/SeRQL *
include tests/*.py
include tests/*.rdf
