include COPYING
include README
include setup.cfg
include setup.py
include swi.pyx
include swi.pxd
include swipy/*.py
recursive-include swipy/prolog *
include tests/*.py
include tests/*.n3
include tests/*.rdf
