include COPYING
include README
include setup.cfg
include setup.py
include swi.pyx
include swi.pxd
include swipy/*.py
recursive-include swipy/henry *
recursive-include swipy/SeRQL *
include tests/*.py
include tests/*.rdf
